<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div style="background-color: black; height: 90px;" class="wrapper sticky">
  <nav  class="navbar-fixed-top">
    <a href="#" class="logo">
      <img style="height: 70px;" src="../assets\img\logo01.png" alt="">
    </a>
    <ul>
      <li><br><a style="cursor: pointer" (click)="loginAction()">Ingresar</a></li>
      <li><br><a style="cursor: pointer" (click)="signupAction()">Registro</a></li>
    </ul>
  </nav>
</div>



<div class="footer" id="signup">
  <h3> @ Restaurtante Piccolo</h3>
</div>