<body>
    <mat-card>
        <b><span>Reporte</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Cantidad de categorías: </h2>
                    <h1 class="title">{{data?.category}}</h1>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Cantidad de productos: </h2>
                    <h1 class="title">{{data?.product}}</h1>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Cantidad de ventas: </h2>
                    <h1 class="title">{{data?.bill}}</h1>

                </div>
            </div>
        </div>

    </div>
</body>